body{
	margin: 0;
	padding: 0;
	position: relative;
	background: #bfc2c2;
	position: relative;
}
nav{
	width: 100%;
	height: 65px;
	position: fixed;
	background:  #4a4747;
	box-shadow: 0px 2px 8px 0px #333;
}

.nav-container{
	width: 80%;
	margin: 0 auto;
	position: relative;
	background:  #0a4b33;
}
.logo{
	padding-top: 13px;
	float: left;
}
.menu{
	width: 100%;
	height: 65px;
	background:  #4a4747;
}
.menu=hover{
	color:#000;
}
.menu>.menu-content{
	width: auto;
	height: 65px;
	float: right;
	font-family: sans-serif,Arial;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.05em;
	position: relative;
	color: #fff;
	line-height: 65px;
}
.menu>.menu-navigasi{
	float: right;
	padding-top: 22px;
	padding-right: 30px;
}
.menu>.menu-navigasi a{
	padding: 10px;
	font-size: 16px;
	color:#fff;
	text-decoration: none; 
}
.menu>.menu-navigasi a:hover{
	color: #E78805;
}
.menu>.menu-content>a{
	color: #fff;
	text-decoration: none;
}
.menu>.menu-content>a:hover{
	color:#E78805;
}
.arrow-up{
	width: 0;
	height: 0;
	position: absolute;
	border-left: 20px solid transparent;
	border-right:20px solid transparent;
	border-bottom: 20px solid #fff;
	right: 80px;
    top: 50px;
    display: none;
}
.login-form{
	position: absolute;
	width: 300px;
	height: auto;
	background: #fff;
	right: 30px;
	top: 60px;
	border-radius: 3px;
	border-bottom: 5px solid gray;
	display: none;
}
.login-form>form{
	width: 250px;
	margin: 25px auto;
	font-size: 20px;
	font-family: sans-serif,Arial;
	color:gray;
	letter-spacing: -0.05em;
}
input[type="text"],
input[type="password"]{
	width: 240px;
	height: 30px;
	border:0px;
	outline: none;
	box-shadow: inset 0 0 10px #eee;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top:5px;
	font-family: sans-serif,Arial;
	font-size: 16px;
}
input[type="submit"]{
	width: 95%;
	height: 35px;
	background: #E78805;
	font-size: 16px;
	font-weight: bold;
	font-family: sans-serif,Arial;
	color: white;
	outline: none;
	border:0px;
	border-radius: 3px;
	letter-spacing: -0.05em;
	cursor: pointer;
}
input[type="submit"]:hover{
	background:#BF6E11; 
}
.fa{
	margin-right:5px;
}

.banner{
	background-image: url(../../images/banner4.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 750px;
}

.banner img{
	width: 100%;
	height: 100%;
	background-attachment: scroll;
}

.tulisan{
	text-decoration: none;
	font-family: sans-serif;
	float: left;
	font-size: 75px;
	padding-top: 20%;
	padding-left: 8%;
}

.tulisan p{
	color: #fff;
}

.tombol{
	margin: auto;
	padding-top: 37%;
	padding-left: 10%;
}

a.tmb{
	font-family: sans-serif;
	padding: 20px 40px;
	background-color: #E3861C;
	font-size: 15px;
	color: #eee;
	text-decoration: none;
}

a.tmb:hover{
	text-decoration: none;
	color:#fff;
    background-color: #BF6E11;
}

/* SERVICE */
.service-section {
	padding-top: 20px;
	padding-bottom: 50px;
}
.how{
	padding-bottom: 20px;
	text-align: center;
}
.how h3{
	font-size: 40px;
}
.daftar-content {
	padding: 0 15px;
	margin-top: 30px;
}
.daftar-content h5{
	text-align: center;
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}
.daftar img {
	color: #00aeda;
	font-size: 50px;
	text-align: center;
}
/* SERVICE */

/* ---TESTIMONIAL--- */
.testimonials {
	background-color: #4a4747;
	text-align: center;
}
.testimonials p{
	color:#fff;
	font: 20px "Merriweather";
}
.testimonials blockquote {
	border: 0;
	margin: 0;
	padding: 100px 20%;
}
.flex-control-nav {
	margin-top: 2%;
	bottom: none!important;
	position: relative!important;
	right: 0;
	text-align: center;
	width: 100%!important;
	z-index: 100;
}

/* ABOUT US */
.teams{
	padding-top: 30px;
}

.person {
	max-width: 270px;
	text-align: center;
}
.person img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: auto;
}
.person-content {
	margin-top: 20px;
}
.person h4 {
	font-weight: 400;
}
.person h5 {
	color: #00aeda;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 20px;
}
.social-icons, .footer .footer-share {
	margin-top: 30px;
}
.social-icons li, .footer .footer-share li {
	display: inline-block;
	float: none;
}
.social-icons a, .footer .footer-share a {
	border: 1px solid #e8ecee;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #c6cacc;
	display: block;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	margin-right: 5px;
	text-align: center;
	width: 32px;
}
.social-icons a:hover {
	background-color: #00aeda;
	border-color: #01a9d4;
	color: #fff;
}
/* ABOUT US */

footer{
	font-family: arial;
	color:#434545;
	width: auto;
	height: auto;
	text-align: center;
}

footer h5{
	font-size: 15px;
}













